/* mini basket */
#cart{        
    position: relative;
    &:hover{
    	cursor: pointer;
    	.content {
    		opacity: 1;
    		visibility: visible;
    	}
    }
    h4{
        color: $cart-heading-color;
        font-weight: $topbar-font-weight;
        font-size: $font-size-base - 2;
        padding: 0;
        margin:0;
        display: inline-block;
        text-transform: uppercase;
    }
    #cart-total{
    	text-transform: uppercase;
    }
  
    .content {
    	display: block;
    	opacity: 0;
    	visibility: hidden;
        clear: both;
        position: absolute;
        top: 100%;
        @include rtl-right($cart-align-right);
        left: auto;
        padding: 15px;
        min-height: 100px;      
        height: 100px;
        height: auto !important;      
        background: $white;
        border: 1px solid $border-color;
        z-index: 99999;
        min-width: $cart-content-width;
        @include rounded-corners(0px); 
        @include box-shadow(none); 

    }  
     &.active{
        .heading{ 
            #cart-total, .icon-cart, h4{
                color: $black;
            }
            a{
                 color: $black;
                 background-color: $white;
            }
        }
        .content{
            display: block;
        }
    }         
    .heading {     
        @include clearfix();  
        min-width: 170px;                                  
        a{
            margin-top: 0;   
            color: $theme-color-primary;
            padding: 12px;
            display: inline-block;
            span{
                margin-right: $padding-base-vertical - 1;
                font-size: $font-size-base - 2;
                color: $theme-color-tertiary;
            }               
        }            
    }
    .media{
    	 border: 1px solid $cart-bg-color;
    	 background: $cart-bg-color;
        .pull-left{
            text-align: center;
            position: relative;
            margin-right: $padding-large-vertical;          
        }
    }
    .checkout {
        @include rtl-text-align-right();
        clear: both;
    }
    .empty {
        padding-top: 20px;
        text-align: center;
    }

	.mini-cart-total {
	    @include rtl-text-align-right();
	    td {
	        color: #000;
	        padding: 4px;
	    }
	    table {
	        border-collapse: collapse;
	     	display: inline-block;
	        margin-bottom: 5px;
	    }
	}
	.mini-cart-info {
	    .quantity {
	        @include rtl-text-align-right();
	    }
	    .name {
	        small {
	            color: #666;
	        }
	        font-size: $cart-product-font-size;
	        font-weight: bold;
	    }
	    td {
	        color: #000;
	        vertical-align: top;
	        padding: 6px;
	        border-bottom: 1px solid $border-color;
	    }
	    table {
	        border-collapse: collapse;
	        width: 100%;
	        margin-bottom: 5px;
	    }
	    .image {
	        width: 1px;
	        img {            
	            @include rtl-text-align-left();
	        }
	    }
	    .remove {
	        @include rtl-text-align-right();
	        img {
	            cursor: pointer;
	        }
	    }
	    td.total {
	        @include rtl-text-align-right();
	    }
	}
}

.cart-has-search #cart{
	float: right;
    .heading{
        min-height: 38px;
        border: none;
        .cart-inner{
        	padding-top: 0px;
        	height: auto;
        	a{
        		padding: 0;
        		@include rtl-padding-right($padding-base-horizontal - 2);
        		background: rgba(0, 0, 0, 0.4);
        		line-height: 38px;
        		.icon-cart{
        			@include rtl-margin-right(10px);
        			line-height: 36px;
        			padding:0 18px;
        			height: 38px;
        			background: url('#{$image-theme-path}icon-cart.png') no-repeat center center  $theme-color-primary; 
        			@include rtl-float-left();
        			&:before{
        				content: "";

        			}
        		}
        		h4{
        			font-family: $font-family-secondary;
        			color: $white;
        			text-transform: uppercase;
        			font-weight: 700;
        		}
        	}
        }
    }
    &.active{
    	.heading .cart-inner{
    		a{  
    			color: $white;  
    			#cart-total, .icon-ca  rt, h4{
    				color: $white;
    			}
    		}
    	}
    }
}  

/** apply general product block **/
.sidebar{
	 .products-row{
	 	 margin: 0;
	 	 .product-col{
	 	 	width: 100%;
	 	 	border-right:none;
	 	 	border-bottom: 1px solid $block-module-border-color;
	 	 	padding: 0;
	 	 	margin-bottom: 0;
	 	 }
	 	 &:first-child > .product-col:first-child .product-block{
	 	 	padding-top: 0;
	 	 }
	 	 &:last-child > .product-col:last-child .product-block{
	 	 	//border: none;
	 	 	//padding-bottom: 0;
	 	 }
	 }
	 .product-block{
	 	padding: 20px 0 20px;
		@include clearfix();
		@include rtl-text-align-left(); 	
	 	.image{
	 		@include rtl-float-left();
		    width: 33%;
		    @include rtl-text-align-left();
		    margin-right: 10px;
		    position: relative;
	 	}
	 	.action, .pav-colorbox, .colorbox, .cart, .image-gallery{
	 		display: none;
	 	}	 
	 }
	 .product-meta{
	 	width:59.5%;
	 	@include rtl-float-left();
	 	padding: 0;
	 }
	 .product-label {
	 	display: none;
	 }
	 .left{
	 	.name{
	 		min-height: auto;
	 		font-size: $font-size-base - 1;
	 		min-height: 1px;
	 	}
	 	.bottom{
	 		padding: 10px 0 0;
	 	}
	 }
}
/*  */

/* social internal module */

.social{
	display: block;
	text-align: center;
    i{
        padding: 13px;
        color: $theme-color-tertiary;
        &:hover{
            cursor: pointer;
        }
    }
    .fa-facebook:hover{
        color: #3b5998;
    }
    .fa-twitter:hover{
        color: #00aced;
    }
    .fa-google-plus:hover{
        color: #dd4b39;
    }
    .fa-linkedin:hover{
        color: #007bb6;
    }
    .fa-youtube-play:hover{
        color:  #bb0000;
    }
    .fa-pinterest:hover{
        color: #cb2027;
    }
    .fa-youtube:hover{
        color: #bb0000;
    }
}

/* back top top */
.scrollup {
    background: $theme-color-primary;
    bottom: 82px;
    display: none;
    position: fixed;
    right: 10px;
    @include rounded-corners(100%);   
    @include size(40px,40px);
	text-align: center;
	font-size: 13px;
	color: #fff!important;
	text-transform: uppercase;
	font-weight: 600;
	padding: 2px;
	z-index: 9999;
	.fa { display: block;}
}
/* Specials product */
.special{
	.box-heading:before{
		content: "";
		width: 85px;
		height: 85px;
		background: url('#{$image-theme-path}product-hot.png') no-repeat 0 0 ; 
		position: absolute;
		top: -35px;
		right: -10px;
	}
}
/* Footer intro */
.contact-info{

	line-height: 27px;
	.title{
		font-weight: 700;
		font-size: $font-size-base - 2;
	
		text-transform: uppercase;
	}
	.service{
		padding-top: 5px;
	}
}

/* Sliderlayer */
.layerslider-wrapper{
	.tparrows.default{
		@include opacity(1);
	}
	.boxedbanner:after{
		bottom: 0;
	    content: "";
	    height: 100%;
	    outline: 1px dotted white;
	    outline-offset: -8px;
	    position: absolute;
	    width: 100%;
	    z-index: 20;
	}
}
/* Advertise banner */
.pavo-banners{
	.banner-center {
		overflow: hidden;
	    border: 1px solid $border-color;
	    margin-bottom: 30px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
}

/**/
.intro-landingpage{
	position: relative;
	.bg-glare{
		background:url("#{$image-theme-path}bg-intro.png") repeat $nocolor;
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: 1;
	}
	.landingpage{
		.carousel-control{
			@include opacity(0);
			@include transition(all 0.35s);
			width: 60px;
			height: 105px;
			top: 48%;
			&.left  {
		    	background: url("#{$image-theme-path}slide-intro-control-left.png") no-repeat scroll center 0px rgba(0, 0, 0, 0);
		    	left: 100px;
			}
			&.right {
		    	background: url("#{$image-theme-path}slide-intro-control-right.png") no-repeat scroll center 0px rgba(0, 0, 0, 0);
		    	right: 100px;
			} 
			&:hover{
				background-position: center -110px;
			}
		}	
		&:hover .carousel-control{
			@include opacity(1);
		}
	}
}
/*Featured Module*/
.featured{
	.product-block{
		border: none;
		.image{
			border: none;
		}
		.names{
			width: 100%;
		}
	}
}
/* Category Module*/
.category{
	ul > li > span{
		font-size: $font-size-base - 4;
		color: $theme-color-primary;
	}
	.accordion-heading span{
		position: absolute;
		@include rtl-right(0);
	}
}
//* Blog
.blog-social .social-wrap > div {
  @include rtl-float-left();
}
//* module deal
.productdeals{
	.title-module span{
		background-color: $theme-color-hover;
		&:before {
		    background-color: $theme-color-hover;
		}
	}
	.box-heading {
	    background-color: #ebebeb;
	    margin-bottom: 30px;
	    padding: 8px 0;
	}
	.carousel-controls{
		@include rtl-padding-left(10px);
	    position: absolute;
	    @include rtl-right(5px);
	    top: -64px;
	}
	.carousel-control{
		@include size(30px,30px);
		position: relative;
		float: left;
	}
	.price{
		display: inline-block;
	}
	.rating{
		display: inline-block;
		@include rtl-margin-left(30px);
	}
	.product-label-special{
		position: absolute;
		background-color: #f26d7d;
		@include size(73px,73px);
		text-align: center;
		padding-top: 10px;
		border-radius: 100%;
		top: 120px;
    	left: 93%;
	}
	.text_sale{
		font-size: 14px;
		font-weight: 600;
		display: block;
	}
	.deal_detail_num{
		font-size: 30px;
		font-weight: 900;
	}
	.product-block{
		text-align: inherit;
		.image{
			border: none;
		}
	}
	.count_down {
	    @include rtl-margin-left(55px);
	    margin-top: 128px;
	}
	.cart {
	    margin-top: 32px;
	}
}
.page-pavdeals-deals{
	.product-block{
		margin-bottom: 30px;
	}
}