
/* customize for #topbar */ 
#topbar { 
background-color:#dba988 
} 

/* customize for #topbar,#topbar .btn-dropdown span */ 
#topbar,#topbar .btn-dropdown span { 
color:#005eff 
} 

/* customize for #topbar a,#topbar .btn.btn-theme-normal */ 
#topbar a,#topbar .btn.btn-theme-normal { 
color:#48ff00 
} 

/* customize for #topbar .fa,#topbar .btn.btn-theme-normal .fa */ 
#topbar .fa,#topbar .btn.btn-theme-normal .fa { 
color:#00fff7 
} 

/* customize for .main-menu,.main-menu.mainnav-primary, .main-menu.mainnav-v2, #pav-mainnav,#pav-mainnav .navbar-default */ 
.main-menu,.main-menu.mainnav-primary, .main-menu.mainnav-v2, #pav-mainnav,#pav-mainnav .navbar-default { 
background-color:#007bff 
} 

/* customize for .main-menu, #pav-mainnav,#pav-mainnav .navbar-default */ 
.main-menu, #pav-mainnav,#pav-mainnav .navbar-default { 
background-image:url(../../image/pattern/pattern6.png) 
} 

/* customize for .pav-megamenu .navbar-nav &gt; li &gt; a */ 
.pav-megamenu .navbar-nav &gt; li &gt; a { 
color:#a2ff0d 
} 
