body {
    background: url('#{$image-theme-path}bg-body.jpg') repeat-y;
}
.page-home{
	#content{
		background: none;
	}
}
#content{
	padding: 10px 20px;
	margin: 30px 0;
}
.box{
	background: transparent;
}
.page-heading h1{
	color: $white;
}
.product-block{
	border: none;
}
.pavo-banners .banner-center{
	border: none;
}
.productdeals{
	.carousel-controls .carousel-control{
		color: $white ;
	}
	.box-heading{
		background-color: $black !important;
	}
	.count_down{
		margin-top: 114px;
	}
} 
.pavtestimonial{
	.box-heading{
		background-color: $black !important;
	}
	.title-module span{
		color: $black;
		background: $white !important;
		&:before {
		    background: $white !important;
		}
		&:after {
		    border-left: 5px solid #959595;
		}
	}
}
#pavo-mass-bottom{
	background-color: $black;
	.mass-content{
		color: #CCC;
	}
	.mass-title{
		background-color: $theme-color-success;
		&:before {
		    background: $theme-color-success;
		}
		&:after {
		    border-left: 5px solid #336600;
		}
	}
}
.content-search h2{
    color: $white;
}
.latest_blog{
	.box-heading{
		background-color: $black !important;
	}
	.title-module span{
		background-color: $brand-success !important;
		&:before {
		    background:$brand-success !important;
		}
		&:after {
		    border-left: 5px solid #336600;
		}
	}
	.create-info{
		height: 314px;
	}
}
.blog-body{
	.create-info{
		border: none;
	}
}
.layerslider-wrapper{
	.tp-rightarrow.default{
		&:after{
			border-left: 5px solid #336600;
		}
	}
	.tp-leftarrow.default{
		&:after{
			border-right: 5px solid #336600;
		}
	}
}
.pav-titleproduct span{
	color: $theme-color-success !important;
}
#cart .heading a{
	color: $theme-color-success;
}
.topbar-primary{
	.text-label{
		color: $theme-color-success !important;
	}
} 
.products-rows{
	.carousel-controls .carousel-control{
		color: $white ;
	}
	.left:hover{
		color: $theme-color-success;
	}
	.right:hover{
		color: $theme-color-success;
	}
} 
#pav-mass-bottom{
	.mass-content-title{
		background: $theme-color-success !important;
	}
}
#footer{
	background: none;
}	
.layout-boxed-lg{
	#footer{
		background: url("#{$image-theme-path}bg-footer.jpg");
	}	
}
#powered{
	background-color: $black;
}