<div class="box pav-custom <?php echo $module_class;?>">
	<?php if( $title ) { ?>
	<div class="box-heading"><span><?php echo $title ?></span></div>
	<?php } ?>
	<div class="custom-content"><?php echo $message; ?></div>
</div>