<div class="pav-megamenu hidden-sm hidden-xs">
	<div class="navbar navbar-default">
		<div id="mainmenutop" class="nav-inner" role="navigation">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle hidden-lg hidden-md collapsed" data-toggle="collapse" data-target="#bs-megamenu">
		        <span class="fa fa-bars"></span>
		    </button>
			<div id="bs-megamenu" class="collapse navbar-collapse navbar-ex1-collapse hidden-sm hidden-xs">
				<?php echo $treemenu; ?>
			</div>
			</div>
		</div>
	</div>
</div>