@import "compass";
@import "vars/bootstrap";
@import "vars/opencart";
@import "mixins/bootstrap";
@import "mixins/app";
.pavtestimonial {
	position:relative;
	 .carousel-inner{
		position:relative;
	}
	.image{
		overflow: hidden;
	}
	.banner-info{
		position:absolute;
		bottom:25%;
		left:10%;
		z-index:4;
		background:#ccc;
		width:300px;
		padding:12px;
		min-height:40px;
		opacity:0.7;
	  	filter: alpha(opacity=70);
	}
	.carousel-indicators{
		position:absolute;
		bottom:10px;
		left:20px;
		li{ 
			display:block;
			float:left;	
			z-index:20;
			padding:10px; 
			margin:3px;
			background:red; 
			&.active{
  				background:#000 
			}	
		}
	}	

  	.thumb-indicators li {
	  	text-indent:0; 
		display: block;
	    float: left;
	    height: 97px;
	    margin: 3px;
	    padding: 3px;
	    width: 23%;
	    z-index: 20;
	}
	.testimonial-item{
		display: block;
		padding: 28px;
		position: relative;
		background: $white;
		.testimonial{
			font-weight: 300;
			font-size: 16px;
			clear: both;
			font-style: italic;
			text-align: center;
			margin-bottom: 30px;
			line-height: 26px;
		}
	} 
	.testi-content{
		padding-left: 0;
	}
	.t-avatar{
		clear: both;
		display: inline-block;
	}
	.social{
		bottom: 32px;
	    position: absolute;
	    width: 85%;
	    i{
	    	color: $black;
	    }
	}
	.item{
		border: 1px solid $border-color;
		border-top: none;
		&:first-child{
			border-top: 1px solid $border-color;
		}
	}
	.profile{
		display: inline-block;
		padding: 0px 30px;
		.name{
			font-family: $font-family-secondary;
			font-size: $font-size-base - 1;
			font-weight: 100; 	
			color: $theme-color-primary;
			text-transform: uppercase;
		}
		.job{
			font-size: $font-size-base - 3;
			font-weight: 100;
			color: $theme-color-secondary;
		}
	}	
	.carousel-navigation.bullets{
		margin: 0 auto;
		width: auto;
	}
	.carousel-navigation .bullet{
		margin-right: 3px;
		width: 10px;
		height: 10px;
		float: left;
		cursor: pointer;
	}
	.carousel-navigation .bullet.active{
		background-position: 0 -10px;
	}
	.box-heading{
	    background-color: $block-module-title-bg; 
	    padding: 8px 0;
	    margin-bottom: 30px;
	}
	.title-module{
	    span{
	      background: $theme-color-default;
	      &:before{
	        background: $theme-color-default;
	      }
	    }
	}
}	

