.productdeals .product-thumb .caption {
    min-height:315px;

}
/* Countdown */
.productdeals .timeleft {
    background-color: #3b5871;
    background-image: linear-gradient(to bottom, #3b5871, #0A263D);
    background-image: -webkit-linear-gradient(to bottom, #3b5871, #0A263D);
    background-image:    -moz-linear-gradient(to bottom, #3b5871, #0A263D);
    background-image:     -ms-linear-gradient(to bottom, #3b5871, #0A263D);
    background-image:      -o-linear-gradient(to bottom, #3b5871, #0A263D);
    min-height: 40px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    text-align: center;
}
.productdeals .timeleft h3{
    color: #FFFFFF!important;
    padding:0; 
    margin:0; 
    line-height:40px;
    font-family: verdana,arial;
    font-size: 19px;
    font-weight: normal;
}
.productdeals .item-countdown ul{
    color: #4A4949;
    font-size: 9px;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.productdeals .item-countdown ul li{float:left!important;display: inline-table; margin: 0px 30px 0px 0px!important; line-height: inherit!important; }
.productdeals .item-countdown ul li.first{}
.productdeals .item-countdown ul li.last{ margin: 0px;}
.productdeals .item-countdown ul li div{clear: both;text-align:center;width:100%;font-size:11px;}
.productdeals .item-countdown ul li div.countdown_num{font-size: 18px; color: #000; margin: 0px 0px 3px 0px; font-weight: bold;}
.productdeals .item-countdown ul li div.countdown_num span{background: #000; padding: 2px 0px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin: 0px 1px;}


.productdeals .timeleft{background-color: #6B9E1B; background-image: linear-gradient(to bottom, #7aa832, #4b6f13);}
.productdeals .item-countdown ul li div.countdown_num span{background: transparent;}
.productdeals .item-countdown ul li div.countdown_num span.mw_dld_detail_num{color: #CC3333}
