/**
* Web Application Prefix Apply For Making Owner Styles
*/
/**
*   Blocks Layout Selectors 
*/
/**
* Product Item Selectors
*/
/*  
 * LAYOUT VARIABLES 
 */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
.pavtestimonial {
  position: relative;
  display:none;
}
.pavtestimonial .image{
    overflow: hidden;
    margin-right: -15px;
}
.rtl .pavtestimonial .image{
    margin-left: -15px;
    margin-right: 0px; 
}
.pavtestimonial .carousel-inner {
  position: relative;
}
.pavtestimonial .banner-info {
  position: absolute;
  bottom: 25%;
  left: 10%;
  z-index: 4;
  background: #ccc;
  width: 300px;
  padding: 12px;
  min-height: 40px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.pavtestimonial .carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.pavtestimonial .carousel-indicators li {
  display: block;
  float: left;
  z-index: 20;
  padding: 10px;
  margin: 3px;
  background: red;
}
.pavtestimonial .carousel-indicators li.active {
  background: #000;
}
.pavtestimonial .thumb-indicators li {
  text-indent: 0;
  display: block;
  float: left;
  height: 97px;
  margin: 3px;
  padding: 3px;
  width: 23%;
  z-index: 20;
}
.pavtestimonial .testimonial-item {
  display: block;
  padding: 28px;
  position: relative;
  background: #FFFFFF;
}
.pavtestimonial .testimonial-item .testimonial {
  font-weight: 300;
  font-size: 16px;
  clear: both;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
  line-height: 26px;
}
.pavtestimonial .testi-content {
  padding: 0;
}
.pavtestimonial .t-avatar {
  clear: both;
  display: inline-block;
}
.pavtestimonial .social {
  bottom: 32px;
  position: absolute;
  width: 85%;
}
.pavtestimonial .social i {
  color: #000000;
}
.pavtestimonial .item {
  border: 1px solid #ebebeb;
  border-top: none;
}
.pavtestimonial .item:first-child {
  border-top: 1px solid #ebebeb;
}
.pavtestimonial .profile {
  display: inline-block;
  padding: 0px 30px;
}
.pavtestimonial .profile .name {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #ff6633;
  text-transform: uppercase;
}
.pavtestimonial .profile .job {
  font-size: 11px;
  font-weight: 100;
  color: #999999;
}
.pavtestimonial .carousel-navigation.bullets {
  margin: 0 auto;
  width: auto;
}
.pavtestimonial .carousel-navigation .bullet {
  margin-right: 3px;
  width: 10px;
  height: 10px;
  float: left;
  cursor: pointer;
}
.pavtestimonial .carousel-navigation .bullet.active {
  background-position: 0 -10px;
}
.pavtestimonial .box-heading {
  background-color: #ebebeb;
  padding: 8px 0;
  margin-bottom: 30px;
}
.pavtestimonial .title-module span {
  background: #000000;
}
.pavtestimonial .title-module span:before {
  background: #000000;
}
